<!-- Run this in the terminal to make tailwind work properly -       npx tailwindcss -i ./input.css -o ./public/css/style.css --watch          -->

<%- include('head') %>

<%- include('nav') %>




<div >
account created
</div>



</body>
</html>