
<nav>
    <div class="w-screen mb-8 px-6 pt-2 pb-6 bg-indigo-300 rounded border-b-2 border-indigo-400 flex justify-between items-center">
      <a class="font-bold text-2xl lg:text-4xl" href="login_form">
        Blog Test
      </a>
      <div>
        <ul class="inline-flex">
          <li><a class="px-4 font-bold" href="/">Home (dev only)</a></li>
        </ul>
      </div>
      </div>
  </nav>
