<!-- Run this in the terminal to make tailwind work properly -       npx tailwindcss -i ./input.css -o ./public/css/style.css --watch          -->

<%- include('head') %>
<body onload="indexPosts()" class="text-gray-800 bg-gray-200" style="font-family: 'Source Sans Pro', sans-serif"></body>
<%- include('nav') %>

<div class="flex flex-col items-center">
<h1>Latest posts: </h1>
</div>
<div id="postwrapper" class="flex flex-col items-center">

</div>



</body>
</html>
